@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}
.container-x {
  padding-left: .5rem;
  padding-right: .5rem;
  width: 100%
}

@media(min-width: 768px) {
  .container-x {
      padding-left:1.5rem;
      padding-right: 1.5rem
  }
}

.container-x {
  max-width: 1216px!important
}
summary::marker {
  content: "";
}
.search-input {
  font-size: .75rem;
  font-weight: 500;
  height: 100%;
  line-height: 1rem;
  padding-left: 1.25rem;
  width: 100%;
}