@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  height: 100%;
  width: 100%;
}
*:focus {
  outline: none;
}
.container-x {
  padding-left: .5rem;
  padding-right: .5rem;
  width: 100%
}

@media(min-width: 768px) {
  .container-x {
      padding-left:1.5rem;
      padding-right: 1.5rem
  }
}

.container-x {
  max-width: 1216px!important
}
summary::marker {
  content: "";
}
.search-input {
  font-size: .75rem;
  font-weight: 500;
  height: 100%;
  line-height: 1rem;
  padding-left: 1.25rem;
  width: 100%;
}

.animate-bounce{
  animation: bounce 1s infinite;
}	

@keyframes bounce {
  0%, 100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}